<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Artystę - Spotify Clone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Dodaj Album</h1>
        <form action="/add_album" method="POST">
            <label for="name">Nazwa albumu</label>
            <input type="text" id="title" name="title" required>

            <label for="genre">Data wydania</label>
            <input type="date" id="date-published" name="date-published" required>

            <label for="artist">Artysta</label>
            <select id="artist" name="artist" required>
                {% for artist in artists %}
                    <option value="{{artist.id}}">{{artist.name}}</option>
                {% endfor %}
            </select>
                
            <label for="genre">Gatunek muzyczny</label>
            <input type="text" id="genre" name="genre" required>
            
            <button type="submit">Dodaj</button>
        </form>
    </div>
</body>
</html>