{% extends "template.html" %}
{% block content %}
<div class="container my-4">
  <section class="playlist">
    <h2 class="mb-3">Twoje playlisty</h2>
    <ul class="list-group">
      <li class="list-group-item">🎵 Moja ulubiona muzyka</li>
      <li class="list-group-item">🎧 Do pracy</li>
      <li class="list-group-item">🔥 Hity 2025</li>
    </ul>
  </section>
</div>

<div class="container my-4">
  <section class="playlist">
    <h2 class="mb-3">Wszystkie utwory</h2>
    <ul class="list-group">
      {% for song in songs %}
        <li class="list-group-item"><a href="/queue-song/{{song.id}}">{{song.title}}</a></li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}