{% extends "template.html" %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Twoje playlisty</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nazwa playlisty</th>
      </tr>
    </thead>
    <tbody>
      {% for playlist in playlists %}
      <tr>
        <td>{{ playlist.id }}</td>
        <td>{{ playlist.name }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">Brak playlist.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button class="btn btn-primary">
    Dodaj nową playlistę
  </button>
</div>
{% endblock %}